{% extends 'base.html' %}

{% block content %} 

  
<section class="bg-dark text-light text-center shadow mb-20">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h2 class="col text-center"><br>Hello {{ current_user.first_name }}! This the Carbon Emissions Page</h2>
            </div>
            
        </div>
    </div>
</section>


<section class="text-center">
    <div class="row align-items-center justify-center p-2 m-2">
        <div class="row align-items-center">
            <h3 className="title">Daily Emissions Info</h3>
        </div>
        <section class="text-center">
        
            <div class="row p-2">
                
                <h4 class="align-text-center justify-center p-0">Here are the Transportation Emissions Results</h4>
                <table class="p-2 m-2">
                    <thead style="background-color: black; color: white">
                    <tr>
                        <th><label for="ID">ID:</label><br></th>
                        <th><label for="travel">Travel Type:</label><br></th>
                        <th><label for="vehicle">Vehicle:</label><br></th>
                        <th><label for="fuel">Fuel:</label><br></th>
                        <th><label for="carpool">Carpool:</label><br></th>
                        <th><label for="miles">Miles:</label><br></th>
                    </tr>
                </thead>
                    {% for transportation in transportations %}
                    
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ transportation.travel }}</td>
                        <td>{{ transportation.vehicle }}</td>
                        <td>{{ transportation.fuel }}</td>
                        <td>{{ transportation.carpool }}</td>
                        <td>{{ transportation.miles }}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
                  
            </div>
        </section>
        
        <section class="text-center">
        
            <div class="row align-items-center justify-center p-2 m-2">
                
                <h4 class="p-2">Here are the Home Energy Emissions Results</h4>
                <table class="table text-center aligm-items-center justify-center w-auto h-auto">
                    <thead style="background-color: black; color: white">
                    <tr>
                        <th><label for="ID">ID:</label><br></th>
                        <th><label for="dishwasher">DW:</label><br></th>
                        <th><label for="dishwasherLoads">DW Loads:</label><br></th>
                        <th><label for="washer">Washer:</label><br></th>
                        <th><label for="washerLoads">Washer Loads:</label><br></th>
                        <th><label for="dryer">Dryer:</label><br></th>
                        <th><label for="dryerLoads">Dryer Loads:</label><br></th>
                        <th><label for="lights">Lights:</label><br></th>
                        <th><label for="lightsNumber">Num Lights On:</label><br></th>
                        <th><label for="lightsTime">Time Lights On (min):</label><br></th>
                        <th><label for="hvas">HVAC:</label><br></th>
                        <th><label for="hvacTime">Time HVAC On (hr):</label><br></th>
                        <th><label for="hvacTemp">HVAC Temp (°C):</label><br></th>
                    </tr>
                </thead>
                    {% for homeEnergy in homeEnergys %}
                    
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ homeEnergy.dishwasher }}</td>
                        <td>{{ homeEnergy.dishwasherLoads }}</td>
                        <td>{{ homeEnergy.washer }}</td>
                        <td>{{ homeEnergy.washerLoads }}</td>
                        <td>{{ homeEnergy.dryer }}</td>
                        <td>{{ homeEnergy.dryerLoads }}</td>
                        <td>{{ homeEnergy.lights }}</td>
                        <td>{{ homeEnergy.lightsNumber }}</td>
                        <td>{{ homeEnergy.lightsTime }}</td>
                        <td>{{ homeEnergy.hvac }}</td>
                        <td>{{ homeEnergy.hvacTime }}</td>
                        <td>{{ homeEnergy.hvacTemp }}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
                  
            </div>
        </section>
        
        <section class="text-center">
        
            <div class="row align-items-center justify-center p-2 m-2">
                
                <h3 class="p-2">Here are the Recycling Emissions Results</h3>
                <table class="table text-center align-items-center justify-center w-auto h-auto">
                    <thead style="background-color: black; color: white">
                    <tr>
                        <th><label for="ID">ID:</label><br></th>
                        <th><label for="paper">Paper:</label><br></th>
                        <th><label for="paperAmount">Paper Amt:</label><br></th>
                        <th><label for="plastic">Plastic:</label><br></th>
                        <th><label for="plasticAmount">Plastic Amt:</label><br></th>
                        <th><label for="glass">Glass:</label><br></th>
                        <th><label for="glassAmount">Glass Amt:</label><br></th>
                    </tr>
                </thead>
                    {% for recycling in recyclings %}
                    
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ recycling.paper }}</td>
                        <td>{{ recycling.paperAmount }}</td>
                        <td>{{ recycling.glass }}</td>
                        <td>{{ recycling.glassAmount }}</td>
                        <td>{{ recycling.plastic }}</td>
                        <td>{{ recycling.plasticAmount }}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
                  
            </div>
        </section>
        
    </div>
</section>
{% endblock %}

