<style>
    </style>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function emissDropFunction() {
      document.getElementById("dropdownMenu").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropdown-button')) {
      var dropdownMenu = document.getElementById("dropdownMenu");
        if (dropdownMenu.classList.contains('show')) {
            dropdownMenu.classList.remove('show');
        }
      }
    }
    </script>


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Carbon Emissions</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container nav">
            <a href="{{ url_for('site.home') }}" class="navbar-brand">Carbon Emissions</a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navmenu"
            ><span class="navbar-toggler-icon"></span></button>             
            <div class="collapse navbar-collapse" id="navmenu">
                <a href="{{ url_for('site.home') }}" class="nav-link">Home</a>
                <a href="{{ url_for('site.profile') }}" class="nav-link">Profile</a>
                <div class="emissions-dropdown">
                    {% if current_user.is_authenticated %}
                    <button class="nav-item dropdown-button" onclick="emissDropFunction()">
                        Input Daily Emissions
                        <i class="fa fa-regular fa-angle-down"></i>
                    </button>
                    <div class="dropdown-items" id="dropdownMenu">
                        <a href="{{ url_for('site.emissions') }}" class="nav-link">Emissions</a>
                        <a href="{{ url_for('site.transportations') }}" class="nav-link">Transportation</a>
                        <a href="{{ url_for('site.homeEnergys') }}" class="nav-link">Home Energy</a>
                        <a href="{{ url_for('site.recycling') }}" class="nav-link">Recycling</a>
                        <a href="{{ url_for('site.water') }}" class="nav-link">Water</a>
                        <a href="{{ url_for('site.waste') }}" class="nav-link">Waste</a>
                    </div>
                </div>
                    <a class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                    </a>
                    {% else %}
                    <a class="nav-item">
                        <a href="{{ url_for('auth.signin') }}" class="nav-link">Sign In</a>
                    </a>
                    <a class="nav-item">
                        <a href="{{ url_for('auth.signup') }}" class="nav-link">Sign Up</a>
                    </a>
                    {% endif %}
                    <a href="javascript:void(0);" class="icon" onclick="emissDropFunction()">&#9776;</a>
            </div>
        </div>
        
    </nav>
    
    
<!--  -->
{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>